* {
    margin: 0;
}

[data-theme="default"] {
    --primary-color: cadetblue;
    --secondary-color: white;
    --font-color: black;
    --bg-color: white;
    --decoration-color: cadetblue;
    --primary-accordion: rgba(0, 0, 0, 0.78);
    --hover-accordion: rgba(0, 0, 0, 0.9);
    --fc-accordion: white;
}

[data-theme="dark"] {
    --primary-color: cadetblue;
    --secondary-color: white;
    --font-color: white;
    --bg-color: black;
    --decoration-color: cadetblue;
    --primary-accordion: white;
    --hover-accordion: rgba(255, 255, 255, 0.9);
    --fc-accordion: black;
}

[data-theme="green"] {
    --primary-color: white;
    --secondary-color: black;
    --font-color: white;
    --bg-color: cadetblue;
    --decoration-color: black;
    --primary-accordion: rgba(0, 0, 0, 0.78);
    --hover-accordion: rgba(0, 0, 0, 0.9);
    --fc-accordion: white;
}


body {
    font-family: 'Playfair Display', serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}


input {
    padding: 14px;
    outline: none;
    width: 100%;
    margin-right: 16px;
    border-radius: 5px;
}

button {
    padding: 6px 14px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}