* {
    margin: 0;
}

[data-theme="default"] {
    --primary-color: cadetblue;
    --secondary-color: white;
    --font-color: black;
    --bg-color: white;
    --decoration-color: cadetblue;
    --primary-accordion: rgba(0, 0, 0, 0.78);
    --hover-accordion: rgba(0, 0, 0, 0.9);
    --fc-accordion: white;
}

[data-theme="dark"] {
    --primary-color: cadetblue;
    --secondary-color: white;
    --font-color: white;
    --bg-color: black;
    --decoration-color: cadetblue;
    --primary-accordion: white;
    --hover-accordion: rgba(255, 255, 255, 0.9);
    --fc-accordion: black;
}

[data-theme="green"] {
    --primary-color: white;
    --secondary-color: black;
    --font-color: white;
    --bg-color: cadetblue;
    --decoration-color: black;
    --primary-accordion: rgba(0, 0, 0, 0.78);
    --hover-accordion: rgba(0, 0, 0, 0.9);
    --fc-accordion: white;
}


body {
    font-family: 'Playfair Display', serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-scheme-container {
    padding: 24px;
    display: flex;
    flex-direction: row;
}

.color-scheme {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right:4px;
    cursor: pointer;
}

#green {
    background-color: cadetblue;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}

h1 {
    font-size: 6em;
    padding: 24px;
    text-decoration-line: underline;
    text-decoration-color: var(--decoration-color);
    word-wrap: break-word;
}

.accordion-container {
    margin: 0 24px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
}

ul li h3.toggle {
    display: block;
    background: var(--primary-accordion);
    color: var(--fc-accordion);
    padding: 0.75em;
    border-radius: 0.15em;
    transition: background 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

ul li h3.toggle:hover {
    background: var(--hover-accordion);
    text-decoration: none;
}

.inner {
    padding: 0.5em 0;
    padding-left: 1em;
    overflow: hidden;
    display: none;
    border-left: solid 4px var(--primary-color);
}

form {
    display: flex;
    flex-direction: row;
    padding: 24px;
}

form input {
    padding: 14px;
    outline: none;
    width: 100%;
    margin-right: 16px;
    border-radius: 5px;
}

form button {
    padding: 6px 14px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.status-container {
    padding: 24px;
    background-color: var(--primary-color);
}

.status-card {
    border-radius: 5px;
    background-color: var(--bg-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}

.status-card > p:first-child {
    color: var(--decoration-color);
}