* {
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 6em;
    padding: 24px;
    text-decoration-line: underline;
    text-decoration-color: cadetblue;
}
form {
    
    display: flex;
    flex-direction: row;
    padding: 24px;
}

form input {
    padding: 14px;
    outline: none;
    width: 100%;
    margin-right: 16px;
    border-radius: 5px;
}

form button {
    padding: 6px 14px;
    border: none;
    background-color: cadetblue;
    color: honeydew;
    border-radius: 5px;
    font-weight: bold;
}

.status-container {
    padding: 24px;
    background-color: cadetblue;
}

.status-card {
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}

.status-card > p:first-child {
    color: cadetblue;
}
