<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halo, Apa Kabar?</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body data-theme="default">
    <div class="content-container">
        <div class="color-scheme-container">
            <div class="color-scheme" id="green"></div>
            <div class="color-scheme" id="white"></div>
            <div class="color-scheme" id="black"></div>
        </div>

        <h1>Tiny Bits About Me.</h1>
        <p style="padding: 24px">Here's a little glimpse of what I do as a regular CS student</p>
        <div class="accordion-container">
            <ul class="accordion">
                <li>
                    <h3 class="toggle" id="accordion-1">Activities</h3>
                    <div class="inner">
                        <p>I code</p>
                    </div>
                </li>
                <li>
                    <h3 class="toggle" id="accordion-2">Organization</h3>
                    <div class="inner">
                        <p>IT Force FUKI</p>
                        <p>Educare 2020</p>
                    </div>
                </li>
                <li>
                    <h3 class="toggle" id="accordion-3">Achievement</h3>
                    <div class="inner">
                        <p>Surviving pacil</p>
                    </div>
                </li>
            </ul>
        </div>

        <h1>Halo, apa kabar?</h1>
        <p style="padding: 24px; padding-bottom: 0">How are you, <b>really</b>?</p>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="status" id="id_status" maxlength="300" required>
            <button type="submit" name="submit">Submit</button>
        </form>

        <div class="status-container">
            {% for status in statuses %}
            <div class="status-card">
                <p>{{ status.submit_time|date:"d M Y" }} {{ status.submit_time|time:"H:i"}}</p>
                <p><b>{{ status.status }}</b></p>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="{% static 'index.js' %}"></script>
</body>

</html>